<ul class="predicates">
  <li>
    Search: <input type="text" name="query"/>
  </li>
  <li>
    Sort by:
    <select name="orderProp">
      <option value="value.name">Alphabetical</option>
      <option value="value.ram">Ram</option>
    </select>
  </li>
</ul>


<ul class="phones">
  <li ng:repeat="phone in phones.$filter(query).$orderBy(orderProp)">
    <a href="#/phones/{{phone.id}}">{{phone.value.name}}</a> - {{phone.value.ram}}
    <a href="#/phones/{{phone.id}}" class="thumb"><img ng:src="{{phone.value.imageUrl}}"></a>
    <p>{{phone.value.snippet}}</p>
  </li>
</ul>
